{% for e in entries %}
<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
<div class="ui-btn-inner ui-li">
    <div class="ui-btn-text">
                <a href="{{ url_for('detail', eid=e.pk) }}" data-transition="slide" class="ui-link-inherit">
                    <h4 class="ui-li-heading">{{ e.title }}</h4>
                    <p class="ui-li-desc">{{ e.address }}</p>
                    <span class="r"></span>
                </a>
    </div>
    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
</div>
</li>
{% endfor %}
{% if next %}
<li id="last" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
<div class="ui-btn-inner ui-li">
    <div class="ui-btn-text">
                <a href="{{ next }}" data-transition="slide" class="ui-link-inherit">
                    <h4 class="ui-li-heading">更多</h4>
                    <p class="ui-li-desc"></p>
                    <span class="r"></span>
                </a>
    </div>
    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
</div>
</li>
{% endif %}
