{% extends "layout_m.html" %}
{% block content %}
	<div data-role="page">
		<div data-role="header" class="header">
            <a href="javascript:history.go(-1);"  data-transition="flip">返回</a>
            <h1></h1>
		</div>
		<div data-role="content" >	
			<h2>定位城市</h2>
			<ul data-role="listview" data-inset="true" class="inset">
				<li data-corners="true">
                <a href="{{ url_for('home_list', city=cur_city.label) }}">
                        {{ cur_city.name }}
					</a>
				</li>
			</ul>
			<h2>热门城市</h2>
			<ul data-role="listview" data-inset="true" class="inset">
                {% for e in cities %}
                <li><a href="{{ url_for('home_list', city=e.label) }}" >{{ e.name }}</a></li>
                {% endfor %}
			</ul>	
		</div>
	</div>
{% endblock %}
