{% extends "layout_m.html" %}
{% block title %}家政搜-{{ e.title }}{% endblock %}
{% block key %}{% for i in e.serviceitems %}{{ i }} {% endfor %}{% endblock %}
{% block desc %}{{ e.brief }}{% endblock %}
{% block content %}
	<div data-role="page">
		<div data-role="header" class="header">
            <a href="{{ back }}"  data-transition="flip">返回</a>
			<h1>详细</h1>
		</div>
		<div data-role="content">
			<div class="">
                <h3>{{ e.title }}</h3>
				<div class="hr"></div>
			</div>	
			<div class="info">
				<table>
					<tr>
						<th>所在地址</th>
                        <td>{{ e.address }}</td>
					</tr>
					<tr>
						<th>服务项目</th>
                        <td>{% for i in e.serviceitems %}{{ i }} {% endfor %}</td>
					</tr>
					<tr>
						<th>营业时间</th>
                        <td>{{ e.worktime }}</td>
					</tr>
					<tr>
						<th>服务区域</th>
                        <td>{% for i in e.serviceareas %}{{ i }} {% endfor %}</td>
					</tr>
				</table>
				<div class="hr"></div>
                <div id="contact">
					<div class="telmail">
                        <a href="sms:{{ e.contracts[0] }}"><i class="mail"></i>短信</a>
                        <a href="tel:{{ e.contracts[0] }}"><i class="tel"></i>电话</a>
					</div>
					<span class="contactor"></span>
					<h4>{{ e.linkman }}</h4>
                    <a class="tel" href="tel:{{ e.contracts[0] }}">{{ e.contracts[0] }}</a>
				</div>
			</div>
			<div class="decrip">
                <p>{{ e.desc }}</p>
			</div>
		</div>
	</div>
{% endblock %}
