{% extends "layout_m.html" %}
{% block content %}
	<div data-role="page">
		<div data-role="header" class="header">
			<a href="list.html"  data-transition="flip">返回</a>
			<h1>详细</h1>
		</div>
		<div data-role="content">
			<div class="">
				<h3>杭州顺兴搬家</h3>
				<div class="hr"></div>
			</div>	
			<div class="info">
				<table>
					<tr>
						<th>所在地址</th>
						<td>上城 - 望江 汽车南站周边</td>
					</tr>
					<tr>
						<th>服务项目</th>
						<td>空调维修 住宅搬家 短途拉货 长途搬家 办公室搬家</td>
					</tr>
					<tr>
						<th>营业时间</th>
						<td>5:00 - 23:00 周六、周日不休</td>
					</tr>
					<tr>
						<th>服务区域</th>
						<td>拱墅 上城 西湖 下城 江干 滨江 余杭 萧山 建德 临安 富阳 淳安 桐庐</td>
					</tr>
				</table>
				<div class="hr"></div>
				<div id="contact">
					<div class="wrapper">
						<span class="contactor"></span>
						<h4>13616522584</h4>
						<div class="telmail">
							<a href="#"><i class="mail"></i>短信</a>
							<a href="#"><i class="tel"></i>电话</a>
						</div>	
					</div>
				</div>
			</div>
			<div class="decrip">
				<p>搬家收费标准遵照本市物价部门的价格收费，按运距、层次、易难程度计价。
公司服务项目： 
1、搬家搬厂，长途运输，小货搬家.搬单位，工厂，医院，学校等。起重，大型机械移位。 
2、空调拆装 维修加氟；空调移机 承接个企事业单位空调长年保养业务 </p>
			</div>
		</div><!-- /content --><!-- /header -->
	</div>
{% endblock %}
