{% extends "layout_m.html" %}
{% block title %}家政搜-{{ city.name }}-{{ cate and cate.name or q }}{% endblock %}
{% block content %}
	<div data-role="page">
		<div data-role="header" class="header">
            <a href="{{ url_for('home_list') }}" data-transition="flip">返回</a>
            <h1>{{ cate and cate.name or q }}</h1>
            <a id="nearby" href="{{ request.path }}" data-transition="flip">附近</a>
		</div>
		<div data-role="content">	
			<ul data-role="listview" class="basic">
                {% if valid_city %}
                    {% for e in entries %}
				<li>
                    <a href="{{ url_for('detail', eid=e.pk, back=request.path) }}" data-transition="slide">
                        <h4>{{ e.title }}</h4>
                        <p>{{ e.address }}</p>
						<span class="r"></span>
					</a>
				</li>
                    {% endfor %}
                    {% if data_url %}
				<li id="last">
                    <a href="{{ data_url }}" data-transition="slide">
                        <h4>更多</h4>
                        <p></p>
						<span class="r"></span>
					</a>
				</li>
                    {% endif %}
                {% else %}
				<li >
                    <a href="javascript:void(0);" data-transition="slide">
                        <h4>你所在城市的家政搜信息正在收录中</h4>
                        <p></p>
						<span class="r"></span>
					</a>
				</li>
                {% endif %}
			</ul>	
		</div>
	</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function(){
    $("#last a").live('click', function(){
           var url = $(this).attr('href');
           $.get(url, function(data){
                var $last = $("#last");
                $last.before(data);
                $last.remove();
               });
            return false;
        });

    $("#nearby").click(function(){
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(getPositionSuccess, getPositionError);
            }else{
                alert('浏览器不支持 geolocation ');
            }

            return false;

        });

    function getPositionSuccess( position ){
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;

        var url = $("#nearby").attr('href');
        location.href = url + '?pos=' + lat + ',' + lng;
    };

    function getPositionError(error){
        switch(error.code){
            case error.TIMEOUT:
                alert("连接超时，请重试");
                break;
            case error.PERMISSION_DENIED:
                alert("您拒绝了使用位置共享服务，查询已取消");
                break;
            case error.POSITION_UNAVAILABLE: 
                alert("亲爱的火星用户，非常抱歉，我们暂时无法为您所在的星球提供位置服务");
                break;
        }
    };

})
</script>
{% endblock %}
