{% extends "layout_m.html" %}
{% block content %}
	<div data-role="page">
		<div data-role="header" class="header">
            <a href="javascript:history.go(-1);" data-transition="flip">返回</a>
            <h1>{{ cate and cate.name }}</h1>
            <a id="nearby" href="#" data-transition="flip">附近</a>
		</div>
		<div data-role="content">	
			<ul data-role="listview" class="basic">
                {% for e in entries %}
				<li>
                    <a href="{{ url_for('detail', eid=e.pk) }}" data-transition="slide">
                        <h4>{{ e.title }}</h4>
                        <p>{{ e.address }}</p>
						<span class="r"></span>
					</a>
				</li>
                {% endfor %}
                {% if data_url %}
				<li id="last">
                    <a href="{{ data_url }}" data-transition="slide">
                        <h4>更多</h4>
                        <p></p>
						<span class="r"></span>
					</a>
				</li>
                {% endif %}
			</ul>	
		</div>
	</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function(){
    $("#last a").live('click', function(){
           var url = $(this).attr('href');
           $.get(url, function(data){
                var $last = $("#last");
                $last.before(data);
                $last.remove();
               });
            return false;
        });

    function getPositionSuccess( position ){
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
        // do request here
    };

    function getPositionError(error){
        switch(error.code){
            case error.TIMEOUT:
                alert("连接超时，请重试");
                break;
            case error.PERMISSION_DENIED:
                alert("您拒绝了使用位置共享服务，查询已取消");
                break;
            case error.POSITION_UNAVAILABLE: 
                alert("亲爱的火星用户，非常抱歉，我们暂时无法为您所在的星球提供位置服务");
                break;
        }
    };

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(getPositionSuccess, getPositionError);
    }else{
        alert('浏览器不支持 geolocation ');
    }

})
</script>
{% endblock %}
