{% extends "layout_m.html" %}
{% block content %}
	<div data-role="page">
		<div data-role="header" class="header">
			<h1>杭州<span>家政搜</span></h1>
			<a href="city.html" data-transition="flip">城市</a>
		</div>
		<div data-role="content" class="service">	
			<ul data-role="listview" class="basic">
				<li>
					<a href="list.html" data-transition="slide">
						<i class="move"></i>
						搬家
						<span class="r"></span>
					</a>
				</li>
				<li><a href="list.html" data-transition="slide"><i class="fix"></i>家电维修<span class="r"></span></a></li>
				<li><a href="list.html" data-transition="slide"><i class="fan"></i>空调移机<span class="r"></span></a></li>
				<li><a href="list.html" data-transition="slide"><i class="pipe"></i>管道疏通<span class="r"></span></a></li>
				<li><a href="list.html" data-transition="slide"><i class="unlock"></i>开锁<span class="r"></span></a></li>
				<li><a href="list.html" data-transition="slide"><i class="baby"></i>月嫂<span class="r"></span></a></li>
				<li><a href="list.html" data-transition="slide"><i class="clean"></i>钟点工<span class="r"></span></a></li>
				<li><a href="list.html" data-transition="slide"><i class="pc"></i>修电脑<span class="r"></span></a></li>
			</ul>	
		</div><!-- /content --><!-- /header -->
	</div>
{% endblock %}

