{% extends "layout_m.html" %}
{% block content %}
	<div data-role="page">
		<div data-role="header" class="header">
            <h1>{{ city.name }}<span>家政搜</span></h1>
            <a href="{{ url_for('change_city', cur_city=city.label) }}" data-transition="flip">城市</a>
		</div>
		<div data-role="content" class="service">	
			<ul data-role="listview" class="basic">
                {% for k, v in cates.items() %}
                <li><a href="{{ url_for('entry_list', city=city.label, cate=k) }}" data-transition="slide"><i class="{{ v.logo }}"></i>{{ v.name }}<span class="r"></span></a></li>
                {% endfor %}
			</ul>	
		</div>
	</div>
{% endblock %}
{% block js %}
{% endblock %}
