<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}家政搜{% endblock %}</title>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="{% block key %}家政 搜索 服务 帮助 保姆 修理 临时工{% endblock %}"/>
    <meta name="Description" content="{% block desc %}准确，快捷的家政搜索{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="{{ config['STATIC_PATH'] }}css/jquerymoblie.css">
	<link rel="stylesheet" type="text/css" href="{{ config['STATIC_PATH'] }}css/jzs.css">
    <script type="text/javascript" src="{{ config['STATIC_PATH'] }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ config['STATIC_PATH'] }}js/common.js"></script>
	<script type="text/javascript" src="{{ config['STATIC_PATH'] }}js/jquerymobile.js"></script>
    {% if config['GOOGLEA'] %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30676177-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
    {% block js %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
